<h1>My Copic Collection</h1>

<form action="/colors/" method="POST">

<fieldset>
	N0: <input type= "checkbox" name="N0" value="N0">
	N2: <input type= "checkbox" name="N2" value="N2">

    <input type="submit">
    </fieldset>
</form>

<% @list.each do |row| %>
<p>
<%= row %>
</p>
<% end %>
