
<form action="/colors/ " method="GET">
  
<div class="form">
      
      <div class="tab-content">
        <div id="signup">   
          <h1>Sign Up </h1>
          
         
            <div class="field-wrap">
              <label>
                First Name<span class="req">*</span>
              </label>
              <input type="text" name= "first_name" value="first_name" required autocomplete="off" />
            </div>
        
            <div class="field-wrap">
              <label>
                Last Name<span class="req">*</span>
              </label>
              <input type="text" name= "last_name" value="last_name" required autocomplete="off"/>
            </div>
          </div>

          <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email" name= "email" value="email" required autocomplete="off"/>
          </div>
          
          <div class="field-wrap">
            <label>
              Password<span class="req">*</span>
            </label>
            <input type="password" name= "password" value="password" required autocomplete="off"/>
          </div>

            <input type="submit"></a>



          </form>
          <form action= "/login/" method="GET">
          
          <button class="button button-block"/>Log In</button>
          
          </form>

        </div>
        
      </div><!-- tab-content -->
      
</div> <!-- /form -->	