 <div id="login">   
          <h1>Log In</h1>
          
          <form action="/colors/" method="post">
          
            <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
           <input type="logine" name= "logine" value="logine" required autocomplete="off"/>
          </div>
          
          <div class="field-wrap">
            <label>
              Password<span class="req">*</span>
            </label>
           <input type="loginp" name= "loginp" value="loginp" required autocomplete="off"/>
 </div>